body{
    font-family: 'DM Serif Display', serif;;
}
h1{
    font-size: 50px;
}
.button-style{
    background-color: red;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.heading-tag{
    color: green;
}

section{
    display: flex;

}

.side-side{
    width: 50%;
    padding: 10% 10%;
}
.side-side img{
    width: 100%;

}
.center-text{
    text-align: center;
}
#text-color{
    color: green;
}
.first-content{
    width: 15% 10%;
    padding: 8%;
    margin: 50px;
    border-radius: 20px;
    background-color: rgb(250, 199, 225);
   
   
}
.first-content img{
    width: 100%;
}
.second-content{
    width: 15% 10%;
    padding: 8%;
    margin: 50px;
    border-radius: 10px;
    background-color: rgb(239, 250, 199);
    
   
}
.second-content img{
    width: 100%;
}
.thrid-content{
    width: 15% 10%;
    padding: 8%;
    margin: 50px;
    border-radius: 10px;
    background-color: rgb(199, 225, 250);
   
   
}
.thrid-content img{
    width: 100%;
}
 
.second-side{
    width: 50%;
    padding: 10% 10%;

}
.second-side img{
    width: 100%;
}

.fond-size{
    font-size: 20px;
    text-align: center;
    text-shadow: black;
    border-bottom: 1px solid blue;
}